.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    border-radius: 10px;
    background-color: rgb(216, 221, 221);
    padding: 10px;
}

.title {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    color: black;
}

sup {
    font-size: 20px;
    font-weight: 400;
    color: black;
}

.header-svg-wrapp {
    display: flex;
    align-items: center;
}

.svg-favourite {
    margin-right: 10px;
    cursor: pointer;
}
