.total-wrapper{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top:0;
    left: 0;
    right: 0;bottom: 0;
    background-color:#ebfff880;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-wrapper{
    position: relative;
    width: 516px;
    height: 250px;
    box-sizing: border-box;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   background-color: rgb(120, 187, 132);
   border-radius: 40px;
}
.main-wrapper{
    padding: 15px;
    color: white;
    text-align: center;
    font-size: 24px;
}
.modal-header{
    text-align: center;
}

.btn-wrapper{
    display: flex;
justify-content: space-around;
}

.ok-btn{
    background-color: rgb(87, 162, 87);
    border: none;
    border-radius: 10px;
    padding: 10px 40px;
    color: white;
    font-size: 20px;
}

.cancel-btn{
    background-color: rgb(167, 43, 13);
    border: none;
    border-radius: 10px;
    padding: 10px 40px;
    color: white;
    font-size: 20px;
}
